services:
  db:
    image: postgres:16
    container_name: hris-postgres
    environment:
      POSTGRES_DB: hris_auth
      POSTGRES_USER: hris
      POSTGRES_PASSWORD: hris123
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: hris-auth
    env_file:
      - .env.docker
    environment:
      DB_HOST: db
    depends_on:
      - db
    ports:
      - "8080:8080"

volumes:
  pgdata:
